accelerate==0.20.1
appdirs==1.4.4
bitsandbytes==0.37.2
black==23.3.0
black[jupyter]==23.3.0
datasets==2.11.0
fire==0.5.0
peft==0.3.0
transformers==4.30.1
gradio==3.33.1
sentencepiece==0.1.97
scipy==1.10.1
wandb
